**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.nuget
**/packages
**/*.user
**/*.suo
**/.DS_Store
**/*.db
**/*.db-shm
**/*.db-wal
**/data
**/logs
.env
.dockerignore
Dockerfile*
docker-compose*.yml
.github
.docs
README.md
LICENSE
*.md
.publish
.editorconfig
.gitattributes
