################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BootManager.Application/bin/Debug/net8.0
/BootManager.Application/obj/Debug/net8.0
/BootManager.Application/obj
/BootManager.Core/bin/Debug/net8.0
