@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing

<!-- Top navigation items rendered as horizontal navbar links. Intended to be placed inside the topbar. -->
<div class="collapse navbar-collapse" id="topNavbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="fas fa-home"></i>
                <span class="ml-2">Home</span>
            </NavLink>
        </li>

        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="dashboard">
                        <i class="fas fa-tachometer-alt"></i>
                        <span class="ml-2">Dashboard</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="settings">
                        <i class="fas fa-cogs"></i>
                        <span class="ml-2">Instellingen</span>
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="register-owner">
                        <i class="fas fa-user-plus"></i>
                        <span class="ml-2">Register Owner</span>
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

