@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <StartupGate />
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="@typeof(Layout.MainLayout)">
                        <h1>Niet geautoriseerd</h1>
                        <p>Je hebt geen toegang tot deze pagina. <a href="/login">Inloggen</a></p>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <h1>Pagina niet gevonden</h1>
                <p>De gevraagde pagina bestaat niet.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
